.btn:hover{
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.btn:active{
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.general {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gestion2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ddf6fe;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 20px;
  padding: 20px;
  width: 80%;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ddf6fe;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 20px;
  padding: 20px;
  width: 40svb;
}
.login p{
  margin-top: 20px;
  margin-bottom: 0px;
}

.login button, .gestion2 button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  background: #9cf;
  color: #fff;
  font-family: muli-semibold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 8px;
}

.login input, .gestion2 input{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  border: 0;
  padding: 5px;
  margin: 10px;
  width: 80%;
}
.gestion{
  display: none;
  justify-content: space-evenly;
  align-items:start;
  flex-wrap: wrap;
  width: 100%;
}
.gestion1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70svh;
  
}
.tabla2 th {
  border: 1px solid #000;
  text-align: center;
}
.tabla2 {
  width: 90%;
  border-collapse: collapse;
  background: #ddf6fe;
  margin-bottom: 15px;
  margin-top: 10px;
}
.radio div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.radio{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.radio input{
  width: initial;
}